<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Bird Count Data Sheets Received</h4></div>
            <table class="table table-hover">
                <tbody>
                <tr><td><h5>Data Sheet ID</h5></td><td><h5>Survey ID</h5></td><td><h5>Station ID</h5></td><td><h5>Start Time</h5></td><td><h5>Notes</h5></td></tr>
                <tr ng-repeat="birdCount in birdCountSearchSvc.searchResponse.results" ng-click="displayOne(birdCount.dataSheetId)">
                    <td>{{birdCount.dataSheetId}}</td>
                    <td>{{birdCount.surveyId}}</td>
                    <td>{{birdCount.stationId}}</td>
                    <td>{{birdCount.startTime}}</td>
                    <td>{{birdCount.notes}}</td>
                </tr>
                </tbody>
            </table>
            <pagination
                    max-size="4"
                    boundary-links="true"
                    ng-change="pageChanged()"
                    ng-model="birdCountSearchSvc.searchCriteria.pageNumber"
                    items-per-page="birdCountSearchSvc.searchCriteria.pageSize"
                    total-items="birdCountSearchSvc.searchResponse.total"
                    num-pages="birdCountSearchSvc.searchResponse.numPages">
            </pagination>
        </div>
    </div>
</div>