
<h2>Event Edit</h2>

<div class="row">
    <div class="col-sm-12">
        <table width="100%;">
            <tr>
                <td><h3>Selected Event</h3></td>
            </tr>
            <tr>
                <td colspan="2"><hr style="margin-top: 0px;"></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-repeat="msg in selectedEvent.responseMessages">
            <div class="alert alert-danger" role="alert">{{msg.description}}</div>
        </div>
    </div>
</div>

<!-- View mode -->
<div ng-hide="editMode">
    <div class="row" >
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{selectedEvent.model.observer}}&nbsp;{{selectedEvent.model.locationId}}</dd>
        </dl>
    </div>
</div>

<!-- Edit mode -->
<div class="row" ng-show="editMode">
    <div class="col-md-12">
        <form name="eventForm" role="form" ng-submit="submitForm(eventForm.$invalid)" novalidate autocomplete="off">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required" ng-class="{'has-error' : eventForm.observerTxtFld.$invalid && !eventForm.observerTxtFld.$pristine}">
                            <label class="control-label" for="observerTxtFld">Observer</label>
                            <input type="text" class="form-control" id="observerTxtFld" name="observerTxtFld" ng-model="selectedEvent.model.observer" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required" ng-class="{'has-error' : eventForm.locationIdTxtFld.$invalid && !eventForm.locationIdTxtFld.$pristine}">
                            <label class="control-label" for="locationIdTxtFld">Location ID</label>
                            <input type="text" class="form-control" id="locationIdTxtFld" name="locationIdTxtFld" ng-model="selectedEvent.model.locationId" required>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-danger" ng-click="">Deactivate</button>
                </div>
                <div class="col-md-8" align="right">
                    <button type="submit" class="btn btn-primary" ng-click="saveAction(eventForm.$invalid)" ng-disabled="eventForm.$invalid">Save</button>
                    <button type="button" class="btn btn-default" ng-click="cancelAction()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Mode switching controls -->
<div class="row" ng-hide="editMode">
    <div class="col-md-12">
        <hr>
        <div class="col-md-4">
        </div>
        <div class="col-md-8" align="right">
            <button type="button" class="btn btn-primary" ng-click="editAction()" ng-disabled="!(currentUser.eventId == selectedEvent.model.eventId || currentUser.administrator)">Edit</button>
        </div>
    </div>
</div>