<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Small Litter Item Instances Received</h4></div>
            <table class="table table-hover">
                <tbody>
                <tr><td><h5>Instance ID</h5></td><td><h5>Data Sheet ID</h5></td><td><h5>Litter Code</h5></td><td><h5>Description</h5></td><td><h5>Notes</h5></td></tr>
                <tr ng-repeat="lbItem in lbItemSearchSvc.searchResponse.results" ng-click="displayOne(lbItem.instanceId)">
                    <td>{{lbItem.instanceId}}</td>
                    <td>{{lbItem.dataSheetId}}</td>
                    <td>{{lbItem.litterCode}}</td>
                    <td>{{lbItem.description}}</td>
                    <td>{{lbItem.notes}}</td>
                </tr>
                </tbody>
            </table>
            <pagination
                    max-size="4"
                    boundary-links="true"
                    ng-change="pageChanged()"
                    ng-model="lbItemSearchSvc.searchCriteria.pageNumber"
                    items-per-page="lbItemSearchSvc.searchCriteria.pageSize"
                    total-items="lbItemSearchSvc.searchResponse.total"
                    num-pages="lbItemSearchSvc.searchResponse.numPages">
            </pagination>
        </div>
    </div>
</div>