<div class="row">
    <div class="col-sm-12">
        <h3>Small Litter Item Instances Received</h3>
        <hr>
        <table class="table table-hover" style="width:92%;margin-left:4%;">
            <thead>
            <tr>
                <td style="width:25%"><b>Litter Code</b></td>
                <td style="width:25%"><b>Description</b></td>
                <td style="width:25%"><b>Count</b></td>
                <td style="width:25%"><b>Weight</b></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lbItem in lbItemSearchSvc.searchResponse.results" ng-click="displayOne(lbItem.instanceId)">
                <td>{{lbItem.litterCode}}</td>
                <td>{{lbItem.description}}</td>
                <td>{{lbItem.count}}</td>
                <td>{{lbItem.weight}}</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div align="right" style="width:98%;margin-left:1%;">
            <pagination
                    max-size="4"
                    boundary-links="true"
                    ng-change="pageChanged()"
                    ng-model="lbItemSearchSvc.searchCriteria.pageNumber"
                    items-per-page="lbItemSearchSvc.searchCriteria.pageSize"
                    total-items="lbItemSearchSvc.searchResponse.total"
                    num-pages="lbItemSearchSvc.searchResponse.numPages"
                    style="margin:0px;">
            </pagination>
        </div>
    </div>
</div>