<div class="row">
    <div class="col-sm-12">
        <h3>Beach Litter Data Sheets Received</h3>
        <hr>
        <table class="table table-hover" style="width:92%;margin-left:4%;">
            <thead>
            <tr>
                <td style="width:25%"><b>Start Time</b></td>
                <td style="width:25%"><b>Season</b></td>
                <td style="width:25%"><b>Surveyors</b></td>
                <td style="width:25%"><b>Last Survey Date</b></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="litterBeach in litterBeachSearchSvc.searchResponse.results" ng-click="displayOne(litterBeach.dataSheetId)">
                <td>{{litterBeach.timeStart}}</td>
                <td>{{litterBeach.season}}</td>
                <td>{{litterBeach.personsSurveying}}</td>
                <td>{{litterBeach.lastSurveyDate}}</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div align="right" style="width:98%;margin-left:1%;">
            <pagination
                    max-size="4"
                    boundary-links="true"
                    ng-change="pageChanged()"
                    ng-model="litterBeachSearchSvc.searchCriteria.pageNumber"
                    items-per-page="litterBeachSearchSvc.searchCriteria.pageSize"
                    total-items="litterBeachSearchSvc.searchResponse.total"
                    num-pages="litterBeachSearchSvc.searchResponse.numPages"
                    style="margin:0px;">
            </pagination>
        </div>
    </div>
</div>