<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Surveys Received</h4></div>
            <table class="table table-hover">
                <tbody>
                <tr><td><h5>Observer Name</h5></td><td><h5>Location</h5></td><td><h5>Start Date</h5></td><td><h5>End Date</h5></td><td><h5>Survey Type</h5></td><td><h5>Received Timestamp</h5></td></tr>
                <tr ng-repeat="survey in surveySearchSvc.searchResponse.results">
                    <td>{{survey.observer}}</td>
                    <td>{{survey.locationId}}</td>
                    <td>{{survey.startDString}}</td>
                    <td>{{survey.endDString}}</td>
                    <td>{{survey.surveyType}}</td>
                    <td>{{survey.receivedDString}}</td>
                </tr><tr><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
                </tbody>
            </table>
            <pagination
                    max-size="4"
                    boundary-links="true"
                    ng-change="pageChanged()"
                    ng-model="surveySearchSvc.searchCriteria.pageNumber"
                    items-per-page="surveySearchSvc.searchCriteria.pageSize"
                    total-items="surveySearchSvc.searchResponse.total"
                    num-pages="surveySearchSvc.searchResponse.numPages">
            </pagination>
        </div>
    </div>
</div>