<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Surveys Received</h4></div>
            <div class="panel-body">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="nameCriteria" ng-model="surveySearchSvc.searchCriteria.surveyCriteria">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                </form>
            </div>
            <table class="table table-hover">
                <tbody>
                <tr><td><b>Survey Type</b></td><td><b>Observer Name</b></td><td><b>Location</b></td><td><b>Received</b></td></tr>
                <tr ng-repeat="survey in surveySearchSvc.searchResponse.results" ng-click="displayOne(survey.surveyId)">
                    <td>{{getType(survey.surveyType)}}</td>
                    <td>{{capFirst(survey.observer)}}</td>
                    <td>{{capFirst(survey.locationId)}}</td>
                    <td>{{survey.receivedDString}}</td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <pagination
                        max-size="4"
                        boundary-links="true"
                        ng-change="pageChanged()"
                        ng-model="surveySearchSvc.searchCriteria.pageNumber"
                        items-per-page="surveySearchSvc.searchCriteria.pageSize"
                        total-items="surveySearchSvc.searchResponse.total"
                        num-pages="surveySearchSvc.searchResponse.numPages">
                </pagination>
            </div>
        </div>
    </div>
</div>