<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/phonegap.css" />
        <link rel="stylesheet" type="text/css" href="../css/beachLitter.css" />
        
        <title>T1MClient</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="background: #90AE57;">
                <img src="../img/t1monitor_logo_small.png">
            </div>
            <div ng-app="t1mApp" id="main" class="app" ng-controller="t1mBeachLitterCtrl">
                
                <tabset class="row">
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" select="selectTab(tab.index)"  active="tab.active"> </tab>
                </tabset>
                
                <form role="form" name="beachLitterForm" novalidate>
                <div id="slider" class="swipe">
                    <div class="swipe-wrap">
                        <div>
                            <br>
                            <div class="row">
                                <div class="col-xs-11">

                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group required" ng-class="{'has-error': invalid.timeStart}">
                                                    <label class="col-sm-4 control-label" for="TimeStart" >Start time</label>
                                                    <div class="col-sm-8">
                                                        <input id="TimeStart" ng-model="litterBeach.TimeStart" class="form-control"
                                                               name="timeStart" type="time" placeHolder="" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group required" ng-class="{'has-error': invalid.timeEnd}">
                                                    <label class="col-sm-4 control-label" for="TimeEnd" >End time</label>
                                                    <div class="col-sm-8">
                                                        <input id="TimeEnd" ng-model="litterBeach.TimeEnd" class="form-control" type="time"
                                                               name="timeEnd" placeHolder="" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-6 panel-title">
                                                    Start location
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-sm btn-info btn-block" type="button" ng-click="retrieveGPS('Start')">Get Location</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding-left: 0; padding-right: 0;">
                                            <div class="form-group col-xs-6 required" 
                                                 ng-class="{'has-error': invalid.lattitudeStart}">
                                                <label class="control-label" for="LatitudeStart" >Latitude</label>
                                                <input id="LatitudeStart" ng-model="litterBeach.LatitudeStart" class="form-control" 
                                                       type="number" placeHolder="lat" name="lattitudeStart" required>
                                            </div>
                                            <div class="form-group col-xs-6 required" 
                                                 ng-class="{'has-error': invalid.longitudeStart}">
                                                <label class="control-label" for="LongitudeStart" >Longitude</label>
                                                <input id="LongitudeStart" ng-model="litterBeach.LongitudeStart" class="form-control" 
                                                       type="text" placeHolder="lng" name="longitudeStart" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-6 panel-title">
                                                    End location
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-sm btn-info btn-block" type="button" ng-click="retrieveGPS('End')">Get Location</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding-left: 0; padding-right: 0;">
                                            <div class="form-group col-xs-6 required" 
                                                 ng-class="{'has-error': invalid.latitudeEnd}">
                                                <label class="control-label" for="LatitudeEnd" >Latitude</label>
                                                <input id="LatitudeEnd" ng-model="litterBeach.LatitudeEnd" class="form-control" 
                                                       type="number" placeHolder="lat" name="latitudeEnd" required>
                                            </div>
                                            <div class="form-group col-xs-6 required" 
                                                 ng-class="{'has-error': invalid.longitudeEnd}">
                                                <label class="control-label" for="LongitudeStart" >Longitude</label>
                                                <input id="LongitudeEnd" ng-model="litterBeach.LongitudeEnd" class="form-control" 
                                                       type="text" placeHolder="lng" name="longitudeEnd" required>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-horizontal">
                                        <div class="form-group required" 
                                                 ng-class="{'has-error': invalid.coordSystem }">
                                            <label class="col-sm-4 control-label" for="CoordSystem" >Coordinate system</label>
                                            <div class="col-sm-8">
                                                <input id="CoordSystem" ng-model="litterBeach.CoordSystem" class="form-control" 
                                                       type="text" placeHolder="" name="coordSystem" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="Season" >Season</label>
                                            <div class="col-sm-8">
                                                <!--<div class="input-group">-->
                                                    <select id="Season" class="form-control" ng-model="litterBeach.Season"
                                                            ng-options="opt.value as opt.name for opt in options.seasons">
                                                    </select>
                                                    <!--<span class="input-group-addon"><span class="caret"></span></span>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="LastSurveyDate" >Date of last survey</label>
                                            <div class="col-sm-8">
                                                <input id="LastSurveyDate" ng-model="litterBeach.LastSurveyDate" class="form-control" type="date" placeHolder="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="StormActivity" >Storm activity</label>
                                            <div class="col-sm-8">
                                                <input id="StormActivity" ng-model="litterBeach.StormActivity" class="form-control" type="text" placeHolder="Any significant storm activity since the last survey">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="PersonsSurveying">Number of people</label>
                                            <div class="col-sm-8">
                                                <input id="PersonsSurveying" ng-model="litterBeach.PersonsSurveying" class="form-control" type="number" placeHolder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="BeachLength" >Length of beach</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="BeachLength" ng-model="litterBeach.BeachLength" class="form-control" 
                                                           type="number" placeHolder="m">
                                                    <span class="input-group-addon">m</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="BeachWidth" >Width of beach</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input id="BeachWidth" ng-model="litterBeach.BeachWidth" class="form-control"
                                                           type="number" placeHolder="m">
                                                    <span class="input-group-addon">m</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 <!--   </tab>
        new tab  starting litter data
                    <tab heading="{{tabs[1].title}}" select="saveLitterBeach()"  active="tabs[1].active"> -->
                        <div>
                            <br>
                            <div class="row">
                                <div class="col-xs-11">
                                    <div class="row">
                                        <div class="col-xs-offset-3 col-xs-6">
                                            <button class="btn btn-success" ng-click="addLitterModal()">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                Add beach litter item
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class ="panel panel-default" style="padding:5%;">
                                        <div>
                                            <ul class="list-group">
                                                <li ng-repeat="litter in litterBeach.Instances.Instances"
                                                    class="list-group-item" ng-class="litter.colour"
                                                    ng-click="loadLitterModal($index)">{{litter.specific}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="Notes" >Notes</label>
                                        <div class="col-sm-8">
                                            <textarea id="Notes" ng-model="litterBeach.Notes" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="button" class="btn btn-primary" ng-click="saveClicked()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
        <script type="text/javascript" src="../cordova.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
        <script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="../js/appFunctions.js"></script>
        <script type="text/javascript" src="../js/angular.min.js"></script>
        <script type="text/javascript" src="../js/angular-resource.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/controllers.js"></script>
        <script type="text/javascript" src="../js/services.js"></script>
        <script type="text/javascript">app.initialize();</script>
        <script type="text/javascript" src="../js/app.js"></script>
        <script type="text/javascript" src="../js/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script type="text/javascript" src="../js/swipe.js"></script>
        <script type="text/javascript">
            window.mySwipe = Swipe(document.getElementById('slider'),{
                continuous: false,
                callback: function(index, elem) {
                    var scope = angular.element($("#main")).scope();
                    if(scope.tabs[index].active == true){ return; }
                    scope.tabs[index].active = true; 
                    scope.$apply();
                }   
            });
        </script>
        
    </body>
    
</html>
