<link rel="stylesheet" type="text/css" href="../../css/fiveMinBirdCount.css" />


<div class="modal-body">
    <div class="panel-body" style="padding:0;">
        <ul class="list-group">
            <li ng-repeat="birdSpecie in birdSpecies" 
                class="list-group-item col-xs-6 listItems"
                ng-class="{disabled: birdSpecie.disabled}"
                ng-click="birdPress(birdSpecie)">
                    {{birdSpecie.text}}
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <div class="input-group">
        <input type="text" class = "form-control" ng-model="birdText" placeholder="Type Bird Name">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="addToList()">Add</button>
        </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>