<div class="modal-header">
    <h4>Bird at {{bird.time}}, Distance: {{bird.dist}}</h4>
</div>
<div class="modal-body">
    <label>Specie</label>
    <input class="form-control" type="text" ng-model=b.b>
    <label>Count</label>
    <input class="form-control" type="number" ng-model=b.c>
    <label>Comments</label>
    <input class="form-control" type="text" ng-model=b.comm>
    <br>
    <button class="btn btn-danger" ng-click="delete()">Delete</button>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>