<div class="modal-header">
    <h4>{{bird.bird}}</h4>
    <p>--distance--</p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-3">Count:</div>
        <div class="col-xs-3">{{count}}</div>
        <div class="col-xs-3">
            <button class="btn btn-incrementBird" ng-click="countInc('plus')">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                </span>
            </button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-incrementBird" ng-click="countInc('min')">
                <span class="glyphicon glyphicon-minus" aria-hidden="true">
                </span>
            </button>
        </div>   
    </div>
    <br>
    <div>
        <label>Comments</label>
        <input class="form-control" type="text">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>