@media (min-width: 0px) {
  .nav-justified > li {
    display: table-cell;
    width: 50%;
    white-space: nowrap;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
      .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff !important;
  }
}

/*input[type="text"]:disabled{
    background: #d11f1f;
}

input[type="time"]:disabled{
    background: #d11f1f;
}

input[type="number"]:disabled{
    background: #d11f1f;
}

select:disabled{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #d11f1f;
}*/
