@media (min-width: 0px) {
  .nav-justified > li {
    display: table-cell;
    width: 50%;
    white-space: nowrap;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
      .nav-tabs.nav-justified > .active > a,
      .nav-tabs.nav-justified > .active > a:hover,
      .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff !important;
  }
}

/*input[type="text"]:disabled{
    background: #d11f1f;
}

input[type="time"]:disabled{
    background: #d11f1f;
}

input[type="number"]:disabled{
    background: #d11f1f;
}

select:disabled{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #d11f1f;
}*/

.plusButton {
    font-size: 400%;
    color: white;
}

.btn-incrementBird{
    font-size: 150%;
    color: #55a8c3;
    background: white;
    border-color: #55a8c3;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 100em;
}

.btn-circle {
    width: 5em;
    height: 5em;
    text-align: center;
    padding-right: 4.6em;
    padding-left: -0.14em;
    padding-bottom: 4.74em;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 100em;
}

.btn-wide {
    display:block;
    width: 100%;
}

.panel-default {
    min-width: 100%;
}

svg circle {
    /*fill: black;*/
}

.radar {
    height: 29.5em;
    background:url(../radar.png) no-repeat;
    background-size: contain;
}

.touches{
    height:100%;
    width:100%;
    
}




.listItems {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.addBirdToPlotText {
    margin-top:0.2em;
}

.tableItem{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listButton {
     
}

.formNumber {
    width: 3em;
}
